*.env
*.log
*.secret
build/*
slither_viaoracle_analysis.txt
slither_factory_analysis.txt
slither_bond_analysis.txt
slither_cash_analysis.txt
mythril_viaoracle_analysis.txt
mythril_factory_analysis.txt
mythril_bond_analysis.txt
mythril_cash_analysis.txt

build/
node_modules
